<!DOCTYPE html>
<html ng-app="ShopApp">
<head>
  <title>Hello World!</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="js/app.js"></script>
  <script src="js/productListFactory.js"></script>
  <script src="js/cartController.js"></script>
  <script src="js/itemsController.js"></script>
</head>
<body ng-controller="CartController as Cart">

  <div id="cart" ng-show="Cart.show">
    Items in your cart:
    <ul ng-repeat="item in Cart.addedItems">
      <li>
        <ul>
          <li>{{item["Product Name"]}}</li>
          <li>{{item["Category"]}}</li>
          <li>{{item["Price"]}}</li>
          <li>{{item["Quantity in Stock"]}}</li>
          <button id="removeItem" ng-click="Cart.remove($index)">Remove</button>
        </ul>
    </ul>
    <div>Total:
      <span id="cartTotal">Total: £{{Cart.total()}}
      </span>
    </div>
  </div>

  <div ng-controller="ItemsController as Main">
    <ul ng-repeat="item in Main.items">
      <li>
        <ul>
          <li>{{item["Product Name"]}}</li>
          <li>{{item["Category"]}}</li>
          <li>{{item["Price"]}}</li>
          <li>{{item["Quantity in Stock"]}}
          <button id="checkoutBtn" ng-click="Cart.addToCart($index)">Add to Cart</button>
          </li>
        </ul>
      </li>
    </ul>
  </div>

</body>
</html>