/* Nav */

body {
  padding-top: 80px;
}

.navbar__cart-container {
  margin-right: 1em;
  margin-top: 2px;
}

/* Overide Bootstrap default behaviour of Nav collapse small screens */

.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}

/* Item Listings */

.item {
  margin-bottom: 2em;
  display: block;
  text-align: center;
}

.item__desc {
  text-align: center;
}

.item__desc--title {
  font-size: 1.2em;
}

.item__img {
  margin-bottom: 1em;
}

/* Cart */

.cart {
  text-align: center;
  width: 80%;
  margin: auto;
  margin-bottom: 2em;
}

.cart_item {
  margin-bottom: 2em;
  text-align: center;
}

.cart_item__desc {
  display: block;
}

.cart_item__img {
  margin-bottom: 1em;
  display: block;
}

.cart__voucher-error {
  color: red;
}

.cart__added-voucher {
  color: #66CD00;
}

.cart__voucher-alert {
  font-style: italic;
}